@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.gradient-custom {
    background: rgb(66,66,66);
    background: radial-gradient(circle, rgba(66,66,66,1) 0%, rgba(40,40,40,1) 23%, rgba(0,0,0,1) 80%);
    background-attachment: fixed;
}





.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #00704b;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 255px;
    border-color: #00ff00
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #00ff00;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background: #00ff00
}

.box .boton-close {
    background: none;
    /* display: block; */
    margin: 40px auto;
    text-align: center;
    border: 2px solid #00ff00;
    padding: 14px 30px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    text-decoration:none;
  }
  
.box .boton-close:hover{
      background: #00ff00;
      color: #ffffff;
      text-decoration:none;
      font-weight: 900;
  }

.box .space{
    margin-top: 2.5rem;
}
